body {
    background-color: black;
}

#box {
    width: 250px;
    height: 250px;
    background-color: hsl(0, 100%, 50%);
    font-size: 13em;
    text-align: center;
    animation-name: rotate;
    animation-duration: 2s;
    animation-iteration-count: 10;
    animation-direction: alternate;
    animation-timing-function: linear;
}

#box:hover {
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: 10;
}

@keyframes slideleft {
    from {
        transform: translateX(300%);
    }
}

@keyframes slideright {
    to {
        transform: translateX(300%);
    }
}

@keyframes slideup {
    from {
        transform: translateY(300%);
    }
}

@keyframes slidedown {
    to {
        transform: translateY(300%);
    }
}

@keyframes rotateX {
    100% {
        transform: rotateX(360deg);
    }
}

@keyframes rotateY {
    100% {
        transform: rotateY(360deg);
    }
}

@keyframes rotateZ {
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes rotate {
    50% {
        transform: rotateX(360deg);
    }
}

@keyframes grow {
    100% {
        transform: scale(2, 2);
    }
}

@keyframes grows {
    50% {
        transform: scale(2, 2);
    }
}

@keyframes shrink {
    50% {
        transform: scale(0.5, 0.5);
    }
}

@keyframes fade {
    50% {
        opacity: 0;
    }
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}

@keyframes bgcolor {
    0% {
        background-color: hsl(0, 100%, 50%);
    }

    20% {
        background-color: hsl(39, 100%, 50%);
    }

    40% {
        background-color: hsl(120, 100%, 25%);
    }

    60% {
        background-color: hsl(240, 100%, 50%);
    }

    80% {
        background-color: #ffff00;
    }

    100% {
        background-color: hsl(300, 100%, 25%);
    }
}

@keyframes glow {
    50% {
        box-shadow: 0px 0px 50px hsl(60, 100%, 50%);
    }
}
